/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre');

*{
    margin: 0px;
    padding: 0px;
}
html, body {
    color: #636b6f;
    /*font-family: 'Raleway', sans-serif;*/
    font-weight: 100;
    /*height: 100vh;*/
    /*margin: 0;*/
}

a{
    text-decoration: none;
}
.alert{
    /*position: absolute;*/
    margin: 10px auto;
    width: 100%;
    transition: box-shadow .25s;
    border-radius: 0px;
    border-bottom: none;
    border-top: none;
}

/*Styling in app.blade*/

.fa-shopping-cart, .fa-bell{
    font-size: 1.4em;
    padding-top: 0px;

}
.logo{
    height: 40px;
    /*width: 100px;*/
    top: -10px;
    position: relative;
}

/**
Styling Login.blade
 */
 #app div.container{
     /*min-height: 800px;*/
 }
.auth-container, .account-container{
    /*background:  rgb(0, 151, 219) url("/img/cubes.png");*/
}
.auth-container, .account-container{
    background: transparent linear-gradient(100deg, rgb(16, 101, 140), rgb(38, 180, 236)) repeat scroll 0% 0%;
    margin: -22px 0px 0px 0px;
    width: 100%;
    padding: 0;
    /*height: 100%;*/
    /*min-height: 400px;*/
}

.account-container{
    position: absolute;
    height: 200px;
}
.circle-logo{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}
.login-form .form-group {
    margin-right: 0px;
    margin-bottom: 22px;
}

.horizontal-line{
    content: " ";
    display: block;
    /*width: 60px;*/
    border-bottom: solid;
    color: #E0F2FB;
    /*background: #0097DB;*/
}

.home-title{
    margin-left: -15px;
    margin-bottom: 17px;
    font-size: 2em;
    font-family: "Miriam Libre",sans-serif;
}
.tab-title{
    border-bottom: solid 1px #ccc;
    padding: 10px;
}
.my-btn, cancel-btn{
    border: none;
    border-radius: 25px;
    padding: 8px 30px;
    color: #fff;
}

.my-btn-blue{
    background: #61BFE9;
    background: linear-gradient(to bottom,#61BFE9 0,#0097DB 100%);
}
.cancel-btn{
    background: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
}

.form-horizontal .control-label, .checkbox{
    color: #E0F2FB;
}
.login-form .form-control{
    border: 0px;
    border-radius: 2px;
}

.card{
    position: relative;
    margin: 4rem 0 3rem 0;
    padding: 20px 10px;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.company-logo{
    width: 100%;
}

/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{*/
    /*border-color: transparent;*/
    /*border-bottom: solid 1px rgb(0, 151, 219);*/
    /*!*border-left: solid 2px #e36209;*!*/
/*}*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
    /*border-bottom-color: rgb(0, 151, 219);*/
    border-bottom: solid 2px #e36209 !important;
    background: #ccc;
}

.list-group-item:hover{
    cursor: pointer;
}
.list-group-item.active, .list-group-item.active:hover{
    border-top: solid 1px #0097DB;
    border-left: solid 2px #e36209 !important;
    border-bottom: solid 1px #0097DB;
    background: #fff;
    color: #0097DB;
}
.fa-floppy-o{
    margin-right: 15px;
}
.app-footer{
    line-height: 5;
    /*background: #ccc;*/
    /*margin-top: 50px;*/
    margin-bottom: 0px;
    border-bottom: solid 5px #0097DB;
}
.btn{
    outline: none;
}
.my-badge{
    position: relative;
    top: -8px;
    right: 8px;
    background: #0097db;
    padding: 3px 5px;
}

.breadcrumb{
    background: #ffffff;
}

hr{
    border-color: #ccc;
}

.thumbnail{
    background: #fff;
}

.thumbnail > img{
    height: 160px !important;
}

.social-accnt .col-md-12 > span{
    font-size: 0.5em;
    float: left;
}

.app-footer{
    /*position: absolute;*/
    background: transparent;
    width: 100%;
    color: #fff;
    border-bottom: solid 5px rgb(16, 101, 140);
}


@media (max-width:992px) {
    .main-top{
        padding-top: 100px !important;
    }
    .auth-container .row .col-lg-6:first-child{
        display: none;
    }
    .auth-container .row .col-lg-6:nth-child(2){
        height: 80vh;
        padding-left: 60px;
        padding-right: 30px;
    }
    .register{
        height: 100vh !important;
        padding: 0px 30px;
    }
    .my-btn{
        font-size: initial !important;
        padding: 3px 20px !important;
    }
    #profilepic{
        display: none;
    }
    .control-btns{
        text-align: end;
    }
    .control-btns > div {
        float: none !important;
        margin-top: 20px;
    }

    .user-details .col-md-5{
        border-right: none !important;
        padding: 15px !important;
    }
    .user-details .col-md-5 .row{
        font-size: 1.6em;
    }
    .user-details .col-md-5 .row > label{
        float: left;
        font-size: .8em
    }
    .social-accnt{
        margin-top: 50px !important;
    }
    .thumbnail > img{
        display: none !important;
    }
    .col-md-5{
        float: left;
    }
    .card{
        margin: 1rem 0 1rem 0;
    }
 }
@media (max-width:376px) {
    .home-title-mnr{
        display: none;
    }
    .home-btns > a{
        width: 100%;
    }
}

@media (max-width:320px) {
    .home-title{
        display: none;
    }
}

.alert{
    border-left: solid;
}

.sendquotr{
    position: absolute;
    z-index: 2;
    right: 25px;
}
.sendquotrqty{
    position: absolute;
    display: none;
    z-index: 2;
    background: transparent;
    width: 40px;
    /*border: none;*/
}

.search{
    margin-top: -4px;
}
.search:before{
    display: none;
}

.search input{
    height: 30px;
    border-radius: 25px;
}
